<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockOptionalPlateMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockOptionalPlate">
    <!--@mbg.generated-->
    <!--@Table stock_optional_plate-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="plate_sign" jdbcType="VARCHAR" property="plateSign" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, plate_sign, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_optional_plate
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_optional_plate
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockOptionalPlate">
    <!--@mbg.generated-->
    insert into stock_optional_plate (id, `name`, plate_sign, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{plateSign,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockOptionalPlate">
    <!--@mbg.generated-->
    insert into stock_optional_plate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="plateSign != null">
        plate_sign,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="plateSign != null">
        #{plateSign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockOptionalPlate">
    <!--@mbg.generated-->
    update stock_optional_plate
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="plateSign != null">
        plate_sign = #{plateSign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockOptionalPlate">
    <!--@mbg.generated-->
    update stock_optional_plate
    set `name` = #{name,jdbcType=VARCHAR},
      plate_sign = #{plateSign,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-04-18-->
  <select id="selectAllByNameLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_optional_plate
        <where>
            <if test="likeName != null and likeName != ''">
                and `name` like concat('%',#{likeName,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
</mapper>