<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockAnomalousBehaviorStaticMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockAnomalousBehaviorStatic">
    <!--@mbg.generated-->
    <!--@Table stock_anomalous_behavior_static-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="begin_date" jdbcType="VARCHAR" property="beginDate" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="static_detail" jdbcType="LONGVARCHAR" property="staticDetail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, begin_date, end_date, static_detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_anomalous_behavior_static
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_anomalous_behavior_static
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorStatic">
    <!--@mbg.generated-->
    insert into stock_anomalous_behavior_static (id, code, `name`, 
      begin_date, end_date, static_detail
      )
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{staticDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorStatic">
    <!--@mbg.generated-->
    insert into stock_anomalous_behavior_static
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="staticDetail != null">
        static_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="staticDetail != null">
        #{staticDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorStatic">
    <!--@mbg.generated-->
    update stock_anomalous_behavior_static
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="staticDetail != null">
        static_detail = #{staticDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorStatic">
    <!--@mbg.generated-->
    update stock_anomalous_behavior_static
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR},
      static_detail = #{staticDetail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-04-16-->
  <select id="selectByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_anomalous_behavior_static
        where code=#{code,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-04-16-->
  <delete id="deleteByCode">
        delete from stock_anomalous_behavior_static
        where code=#{code,jdbcType=VARCHAR}
    </delete>
</mapper>