<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockOptionalPoolMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockOptionalPool">
    <!--@mbg.generated-->
    <!--@Table stock_optional_pool-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="plate_id" jdbcType="VARCHAR" property="plateId" />
    <result column="plate_name" jdbcType="VARCHAR" property="plateName" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, plate_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_optional_pool
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_optional_pool
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockOptionalPool">
    <!--@mbg.generated-->
    insert into stock_optional_pool (id, code, `name`, 
      plate_id)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{plateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockOptionalPool">
    <!--@mbg.generated-->
    insert into stock_optional_pool
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="plateId != null">
        plate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="plateId != null">
        #{plateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockOptionalPool">
    <!--@mbg.generated-->
    update stock_optional_pool
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="plateId != null">
        plate_id = #{plateId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockOptionalPool">
    <!--@mbg.generated-->
    update stock_optional_pool
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      plate_id = #{plateId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>



<!--auto generated by MybatisCodeHelper on 2022-04-18-->
  <select id="selectAllByNameLikeAndPlateIdIn" resultMap="BaseResultMap">
    select
    a.id, a.code, a.name, a.plate_id,b.name as plate_name
    from stock_optional_pool a left join stock_optional_plate b on a.plate_id=b.id
    <where>
      <if test="likeName != null and likeName != ''">
        and  a.name like concat('%',#{likeName,jdbcType=VARCHAR},'%')
      </if>
      <if test="plateIdCollection != null and plateIdCollection.size() > 0">
        and a.plate_id in
        <foreach item="item" index="index" collection="plateIdCollection"
                 open="(" separator="," close=")">
          #{item,jdbcType=VARCHAR}
        </foreach>
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-19-->
  <delete id="deleteByPlateId">
    delete from stock_optional_pool
    where plate_id=#{plateId,jdbcType=VARCHAR}
  </delete>
</mapper>