<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockUplimitAnalyzeMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockUplimitAnalyze">
    <!--@mbg.generated-->
    <!--@Table stock_uplimit_analyze-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="object_sign" jdbcType="VARCHAR" property="objectSign" />
    <result column="json_detail" jdbcType="VARCHAR" property="jsonDetail" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `date`, object_sign, json_detail, code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_uplimit_analyze
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_uplimit_analyze
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockUplimitAnalyze">
    <!--@mbg.generated-->
    insert into stock_uplimit_analyze (id, `date`, object_sign, 
      json_detail, code)
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{objectSign,jdbcType=VARCHAR}, 
      #{jsonDetail,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockUplimitAnalyze">
    <!--@mbg.generated-->
    insert into stock_uplimit_analyze
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="objectSign != null">
        object_sign,
      </if>
      <if test="jsonDetail != null">
        json_detail,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="objectSign != null">
        #{objectSign,jdbcType=VARCHAR},
      </if>
      <if test="jsonDetail != null">
        #{jsonDetail,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockUplimitAnalyze">
    <!--@mbg.generated-->
    update stock_uplimit_analyze
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="objectSign != null">
        object_sign = #{objectSign,jdbcType=VARCHAR},
      </if>
      <if test="jsonDetail != null">
        json_detail = #{jsonDetail,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockUplimitAnalyze">
    <!--@mbg.generated-->
    update stock_uplimit_analyze
    set `date` = #{date,jdbcType=VARCHAR},
      object_sign = #{objectSign,jdbcType=VARCHAR},
      json_detail = #{jsonDetail,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-03-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_uplimit_analyze

    </select>

<!--auto generated by MybatisCodeHelper on 2022-07-03-->
  <select id="selectAllByDateAndCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_uplimit_analyze
    where `date`=#{date,jdbcType=VARCHAR} and code=#{code,jdbcType=VARCHAR}
  </select>
</mapper>