<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockAnomalousBehaviorDetailMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockAnomalousBehaviorDetail">
    <!--@mbg.generated-->
    <!--@Table stock_anomalous_behavior_detail-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="up_limit_type" jdbcType="VARCHAR" property="upLimitType" />
    <result column="up_limit_info" jdbcType="LONGVARCHAR" property="upLimitInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `date`, code, `name`, up_limit_type, up_limit_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_anomalous_behavior_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_anomalous_behavior_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorDetail">
    <!--@mbg.generated-->
    insert into stock_anomalous_behavior_detail (id, `date`, code,
      `name`, up_limit_type, up_limit_info
      )
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{upLimitType,jdbcType=VARCHAR}, #{upLimitInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorDetail">
    <!--@mbg.generated-->
    insert into stock_anomalous_behavior_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="upLimitType != null">
        up_limit_type,
      </if>
      <if test="upLimitInfo != null">
        up_limit_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="upLimitType != null">
        #{upLimitType,jdbcType=VARCHAR},
      </if>
      <if test="upLimitInfo != null">
        #{upLimitInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorDetail">
    <!--@mbg.generated-->
    update stock_anomalous_behavior_detail
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="upLimitType != null">
        up_limit_type = #{upLimitType,jdbcType=VARCHAR},
      </if>
      <if test="upLimitInfo != null">
        up_limit_info = #{upLimitInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockAnomalousBehaviorDetail">
    <!--@mbg.generated-->
    update stock_anomalous_behavior_detail
    set `date` = #{date,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      up_limit_type = #{upLimitType,jdbcType=VARCHAR},
      up_limit_info = #{upLimitInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-04-12-->
  <select id="selectAllByCodeAndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_anomalous_behavior_detail
        where code=#{code,jdbcType=VARCHAR} and `date`=#{date,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-04-12-->
  <select id="selectAllByDateLessThan" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_anomalous_behavior_detail
    where `date` <![CDATA[<]]> #{maxDate,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-12-->
  <select id="selectAllByCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_anomalous_behavior_detail
    where code=#{code,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-12-->
  <select id="selectAllByDateLessThanAndCodeIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_anomalous_behavior_detail
    where `date` <![CDATA[<=]]> #{maxDate,jdbcType=VARCHAR} and code in
    <foreach item="item" index="index" collection="codeCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-16-->
  <select id="selectAllByCodeInAndDateBetweenEqual" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_anomalous_behavior_detail
    <where>
      <if test="codeCollection != null and codeCollection.size() > 0">
        and code in
        <foreach item="item" index="index" collection="codeCollection"
                 open="(" separator="," close=")">
          #{item,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="minDate != null and minDate != ''">
        and `date` <![CDATA[>=]]> #{minDate,jdbcType=VARCHAR}
      </if>
      <if test="maxDate != null and maxDate != ''">
        and `date` <![CDATA[<=]]> #{maxDate,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-16-->
  <delete id="deleteByCode">
    delete from stock_anomalous_behavior_detail
    where code=#{code,jdbcType=VARCHAR}
  </delete>
</mapper>