<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockBaseMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockBase">
    <!--@mbg.generated-->
    <!--@Table stock_base-->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <id column="date" jdbcType="VARCHAR" property="date" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="circulating_stock_capital" jdbcType="INTEGER" property="circulatingStockCapital" />
    <result column="circulating_stock_value" jdbcType="DECIMAL" property="circulatingStockValue" />
    <result column="all_stock_capital" jdbcType="INTEGER" property="allStockCapital" />
    <result column="all_stock_value" jdbcType="DECIMAL" property="allStockValue" />
    <result column="per" jdbcType="DECIMAL" property="per" />
    <result column="pbr" jdbcType="DECIMAL" property="pbr" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    code, `date`, `name`, circulating_stock_capital, circulating_stock_value, all_stock_capital, 
    all_stock_value, per, pbr
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_base
    where code = #{code,jdbcType=VARCHAR}
      and `date` = #{date,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from stock_base
    where code = #{code,jdbcType=VARCHAR}
      and `date` = #{date,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockBase">
    <!--@mbg.generated-->
    insert into stock_base (code, `date`, `name`, 
      circulating_stock_capital, circulating_stock_value, 
      all_stock_capital, all_stock_value, per, 
      pbr)
    values (#{code,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{circulatingStockCapital,jdbcType=INTEGER}, #{circulatingStockValue,jdbcType=DECIMAL}, 
      #{allStockCapital,jdbcType=INTEGER}, #{allStockValue,jdbcType=DECIMAL}, #{per,jdbcType=DECIMAL}, 
      #{pbr,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockBase">
    <!--@mbg.generated-->
    insert into stock_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="circulatingStockCapital != null">
        circulating_stock_capital,
      </if>
      <if test="circulatingStockValue != null">
        circulating_stock_value,
      </if>
      <if test="allStockCapital != null">
        all_stock_capital,
      </if>
      <if test="allStockValue != null">
        all_stock_value,
      </if>
      <if test="per != null">
        per,
      </if>
      <if test="pbr != null">
        pbr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="circulatingStockCapital != null">
        #{circulatingStockCapital,jdbcType=INTEGER},
      </if>
      <if test="circulatingStockValue != null">
        #{circulatingStockValue,jdbcType=DECIMAL},
      </if>
      <if test="allStockCapital != null">
        #{allStockCapital,jdbcType=INTEGER},
      </if>
      <if test="allStockValue != null">
        #{allStockValue,jdbcType=DECIMAL},
      </if>
      <if test="per != null">
        #{per,jdbcType=DECIMAL},
      </if>
      <if test="pbr != null">
        #{pbr,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockBase">
    <!--@mbg.generated-->
    update stock_base
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="circulatingStockCapital != null">
        circulating_stock_capital = #{circulatingStockCapital,jdbcType=INTEGER},
      </if>
      <if test="circulatingStockValue != null">
        circulating_stock_value = #{circulatingStockValue,jdbcType=DECIMAL},
      </if>
      <if test="allStockCapital != null">
        all_stock_capital = #{allStockCapital,jdbcType=INTEGER},
      </if>
      <if test="allStockValue != null">
        all_stock_value = #{allStockValue,jdbcType=DECIMAL},
      </if>
      <if test="per != null">
        per = #{per,jdbcType=DECIMAL},
      </if>
      <if test="pbr != null">
        pbr = #{pbr,jdbcType=DECIMAL},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
      and `date` = #{date,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockBase">
    <!--@mbg.generated-->
    update stock_base
    set `name` = #{name,jdbcType=VARCHAR},
      circulating_stock_capital = #{circulatingStockCapital,jdbcType=INTEGER},
      circulating_stock_value = #{circulatingStockValue,jdbcType=DECIMAL},
      all_stock_capital = #{allStockCapital,jdbcType=INTEGER},
      all_stock_value = #{allStockValue,jdbcType=DECIMAL},
      per = #{per,jdbcType=DECIMAL},
      pbr = #{pbr,jdbcType=DECIMAL}
    where code = #{code,jdbcType=VARCHAR}
      and `date` = #{date,jdbcType=VARCHAR}
  </update>
</mapper>