<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockDateStaticMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockDateStatic">
    <!--@mbg.generated-->
    <!--@Table Stock_date_static-->
    <id column="date" jdbcType="VARCHAR" property="date" />
    <result column="adjs" jdbcType="INTEGER" property="adjs" />
    <result column="median" jdbcType="DOUBLE" property="median" />
    <result column="standard_deviation" jdbcType="DOUBLE" property="standardDeviation" />
    <result column="raise_limit_num" jdbcType="INTEGER" property="raiseLimitNum" />
    <result column="median_one" jdbcType="DOUBLE" property="medianOne" />
    <result column="standard_deviation_one" jdbcType="DOUBLE" property="standardDeviationOne" />
    <result column="raise_limit_num_one" jdbcType="INTEGER" property="raiseLimitNumOne" />
    <result column="median_two" jdbcType="DOUBLE" property="medianTwo" />
    <result column="standard_deviation_two" jdbcType="DOUBLE" property="standardDeviationTwo" />
    <result column="raise_limit_num_two" jdbcType="INTEGER" property="raiseLimitNumTwo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `date`, adjs, median, standard_deviation, raise_limit_num, median_one, standard_deviation_one, 
    raise_limit_num_one, median_two, standard_deviation_two, raise_limit_num_two
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from Stock_date_static
    where `date` = #{date,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from Stock_date_static
    where `date` = #{date,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockDateStatic">
    <!--@mbg.generated-->
    insert into Stock_date_static (`date`, adjs, median, 
      standard_deviation, raise_limit_num, median_one, 
      standard_deviation_one, raise_limit_num_one, 
      median_two, standard_deviation_two, raise_limit_num_two
      )
    values (#{date,jdbcType=VARCHAR}, #{adjs,jdbcType=INTEGER}, #{median,jdbcType=DOUBLE}, 
      #{standardDeviation,jdbcType=DOUBLE}, #{raiseLimitNum,jdbcType=INTEGER}, #{medianOne,jdbcType=DOUBLE}, 
      #{standardDeviationOne,jdbcType=DOUBLE}, #{raiseLimitNumOne,jdbcType=INTEGER}, 
      #{medianTwo,jdbcType=DOUBLE}, #{standardDeviationTwo,jdbcType=DOUBLE}, #{raiseLimitNumTwo,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockDateStatic">
    <!--@mbg.generated-->
    insert into Stock_date_static
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="adjs != null">
        adjs,
      </if>
      <if test="median != null">
        median,
      </if>
      <if test="standardDeviation != null">
        standard_deviation,
      </if>
      <if test="raiseLimitNum != null">
        raise_limit_num,
      </if>
      <if test="medianOne != null">
        median_one,
      </if>
      <if test="standardDeviationOne != null">
        standard_deviation_one,
      </if>
      <if test="raiseLimitNumOne != null">
        raise_limit_num_one,
      </if>
      <if test="medianTwo != null">
        median_two,
      </if>
      <if test="standardDeviationTwo != null">
        standard_deviation_two,
      </if>
      <if test="raiseLimitNumTwo != null">
        raise_limit_num_two,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="adjs != null">
        #{adjs,jdbcType=INTEGER},
      </if>
      <if test="median != null">
        #{median,jdbcType=DOUBLE},
      </if>
      <if test="standardDeviation != null">
        #{standardDeviation,jdbcType=DOUBLE},
      </if>
      <if test="raiseLimitNum != null">
        #{raiseLimitNum,jdbcType=INTEGER},
      </if>
      <if test="medianOne != null">
        #{medianOne,jdbcType=DOUBLE},
      </if>
      <if test="standardDeviationOne != null">
        #{standardDeviationOne,jdbcType=DOUBLE},
      </if>
      <if test="raiseLimitNumOne != null">
        #{raiseLimitNumOne,jdbcType=INTEGER},
      </if>
      <if test="medianTwo != null">
        #{medianTwo,jdbcType=DOUBLE},
      </if>
      <if test="standardDeviationTwo != null">
        #{standardDeviationTwo,jdbcType=DOUBLE},
      </if>
      <if test="raiseLimitNumTwo != null">
        #{raiseLimitNumTwo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockDateStatic">
    <!--@mbg.generated-->
    update Stock_date_static
    <set>
      <if test="adjs != null">
        adjs = #{adjs,jdbcType=INTEGER},
      </if>
      <if test="median != null">
        median = #{median,jdbcType=DOUBLE},
      </if>
      <if test="standardDeviation != null">
        standard_deviation = #{standardDeviation,jdbcType=DOUBLE},
      </if>
      <if test="raiseLimitNum != null">
        raise_limit_num = #{raiseLimitNum,jdbcType=INTEGER},
      </if>
      <if test="medianOne != null">
        median_one = #{medianOne,jdbcType=DOUBLE},
      </if>
      <if test="standardDeviationOne != null">
        standard_deviation_one = #{standardDeviationOne,jdbcType=DOUBLE},
      </if>
      <if test="raiseLimitNumOne != null">
        raise_limit_num_one = #{raiseLimitNumOne,jdbcType=INTEGER},
      </if>
      <if test="medianTwo != null">
        median_two = #{medianTwo,jdbcType=DOUBLE},
      </if>
      <if test="standardDeviationTwo != null">
        standard_deviation_two = #{standardDeviationTwo,jdbcType=DOUBLE},
      </if>
      <if test="raiseLimitNumTwo != null">
        raise_limit_num_two = #{raiseLimitNumTwo,jdbcType=INTEGER},
      </if>
    </set>
    where `date` = #{date,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockDateStatic">
    <!--@mbg.generated-->
    update Stock_date_static
    set adjs = #{adjs,jdbcType=INTEGER},
      median = #{median,jdbcType=DOUBLE},
      standard_deviation = #{standardDeviation,jdbcType=DOUBLE},
      raise_limit_num = #{raiseLimitNum,jdbcType=INTEGER},
      median_one = #{medianOne,jdbcType=DOUBLE},
      standard_deviation_one = #{standardDeviationOne,jdbcType=DOUBLE},
      raise_limit_num_one = #{raiseLimitNumOne,jdbcType=INTEGER},
      median_two = #{medianTwo,jdbcType=DOUBLE},
      standard_deviation_two = #{standardDeviationTwo,jdbcType=DOUBLE},
      raise_limit_num_two = #{raiseLimitNumTwo,jdbcType=INTEGER}
    where `date` = #{date,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-02-05-->
  <select id="selectAllByDateBetweenEqual" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Stock_date_static
        <where>
            <if test="minDate != null">
                and `date` <![CDATA[>=]]> #{minDate,jdbcType=VARCHAR}
            </if>
            <if test="maxDate != null">
                and `date` <![CDATA[<=]]> #{maxDate,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>