<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockExcelTemplateMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockExcelTemplate">
    <!--@mbg.generated-->
    <!--@Table stock_excel_template-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="rise_Id" jdbcType="VARCHAR" property="riseId" />
    <result column="fail_Id" jdbcType="VARCHAR" property="failId" />
    <result column="limit_Up_Id" jdbcType="VARCHAR" property="limitUpId" />
    <result column="limit_Up_one_Id" jdbcType="VARCHAR" property="limitUpOneId" />
    <result column="limit_Up_two_Id" jdbcType="VARCHAR" property="limitUpTwoId" />
    <result column="limit_Up_three_Id" jdbcType="VARCHAR" property="limitUpThreeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order_str" jdbcType="VARCHAR" property="orderStr" />
    <result column="order_by" jdbcType="VARCHAR" property="orderBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, rise_Id, fail_Id, limit_Up_Id, limit_Up_one_Id, limit_Up_two_Id, limit_Up_three_Id, 
    remark, order_str, order_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_excel_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_excel_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockExcelTemplate">
    <!--@mbg.generated-->
    insert into stock_excel_template (id, rise_Id, fail_Id, 
      limit_Up_Id, limit_Up_one_Id, limit_Up_two_Id, 
      limit_Up_three_Id, remark, order_str, 
      order_by)
    values (#{id,jdbcType=VARCHAR}, #{riseId,jdbcType=VARCHAR}, #{failId,jdbcType=VARCHAR}, 
      #{limitUpId,jdbcType=VARCHAR}, #{limitUpOneId,jdbcType=VARCHAR}, #{limitUpTwoId,jdbcType=VARCHAR}, 
      #{limitUpThreeId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{orderStr,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockExcelTemplate">
    <!--@mbg.generated-->
    insert into stock_excel_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="riseId != null">
        rise_Id,
      </if>
      <if test="failId != null">
        fail_Id,
      </if>
      <if test="limitUpId != null">
        limit_Up_Id,
      </if>
      <if test="limitUpOneId != null">
        limit_Up_one_Id,
      </if>
      <if test="limitUpTwoId != null">
        limit_Up_two_Id,
      </if>
      <if test="limitUpThreeId != null">
        limit_Up_three_Id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="orderStr != null">
        order_str,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="riseId != null">
        #{riseId,jdbcType=VARCHAR},
      </if>
      <if test="failId != null">
        #{failId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpId != null">
        #{limitUpId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpOneId != null">
        #{limitUpOneId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpTwoId != null">
        #{limitUpTwoId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpThreeId != null">
        #{limitUpThreeId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderStr != null">
        #{orderStr,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockExcelTemplate">
    <!--@mbg.generated-->
    update stock_excel_template
    <set>
      <if test="riseId != null">
        rise_Id = #{riseId,jdbcType=VARCHAR},
      </if>
      <if test="failId != null">
        fail_Id = #{failId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpId != null">
        limit_Up_Id = #{limitUpId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpOneId != null">
        limit_Up_one_Id = #{limitUpOneId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpTwoId != null">
        limit_Up_two_Id = #{limitUpTwoId,jdbcType=VARCHAR},
      </if>
      <if test="limitUpThreeId != null">
        limit_Up_three_Id = #{limitUpThreeId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderStr != null">
        order_str = #{orderStr,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockExcelTemplate">
    <!--@mbg.generated-->
    update stock_excel_template
    set rise_Id = #{riseId,jdbcType=VARCHAR},
      fail_Id = #{failId,jdbcType=VARCHAR},
      limit_Up_Id = #{limitUpId,jdbcType=VARCHAR},
      limit_Up_one_Id = #{limitUpOneId,jdbcType=VARCHAR},
      limit_Up_two_Id = #{limitUpTwoId,jdbcType=VARCHAR},
      limit_Up_three_Id = #{limitUpThreeId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      order_str = #{orderStr,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-01-17-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_excel_template
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="riseId != null">
                and rise_Id=#{riseId,jdbcType=VARCHAR}
            </if>
            <if test="failId != null">
                and fail_Id=#{failId,jdbcType=VARCHAR}
            </if>
            <if test="limitUpId != null">
                and limit_Up_Id=#{limitUpId,jdbcType=VARCHAR}
            </if>
            <if test="limitUpOneId != null">
                and limit_Up_one_Id=#{limitUpOneId,jdbcType=VARCHAR}
            </if>
            <if test="limitUpTwoId != null">
                and limit_Up_two_Id=#{limitUpTwoId,jdbcType=VARCHAR}
            </if>
            <if test="limitUpThreeId != null">
                and limit_Up_three_Id=#{limitUpThreeId,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="orderStr != null">
                and order_str=#{orderStr,jdbcType=VARCHAR}
            </if>
            <if test="orderBy != null">
                and order_by=#{orderBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>